* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:rgb(228, 83, 16);
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #2F4858;
}

.hero{
    height: 100vh;
    overflow: hidden;
}

.title_bar{
    height: 12vh;
    color: rgb(228, 83, 16);
    padding-inline: 2.5vw;
    display: flex;
    justify-content: space-between;
}
.navigation{
    list-style: none;
    display:flex;
}
.link{
    position: relative;
    top: 50%;
    margin-left: 2rem;
    font-size: 2.5vw;
}

.name{
    font-size: 5vw;
    font-family:Arial, Helvetica, sans-serif;
    margin-block: auto;
}

.mobile_name {
    display: none;
}

@media screen and (min-width: 1400px) {
    .name {
        font-size: 83px;
    }
    .link {
        font-size: 41px;
    }
}

@media only screen and (max-width: 768px) {
    .name {
        display: none;
    }
    .mobile_name {
        display: block;
        padding: 1vw;
    }
    .link{
        font-size: 4vw;
        margin-left: 1rem;
    }
}

.carousel{
    position: relative;
    min-height: 88vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.track_container{
    position: relative;
    min-height: inherit;
    width: inherit;
    list-style: none;
    display: flex;
    color: white;
    transition: color 0.5s ease-in -.5s;
    transition: transform 1.5s ease-out;
}

.slide_selector{
    height: 100%;
    padding-inline: .5vw;
    background: rgba(145, 143, 143, 0.4);
    z-index: 30;
    cursor: pointer;
    border: none;
}

.slide_selector:hover{
    background:rgba(145, 143, 143, 0.9);
}

@media only screen and ( max-width: 768px ){
    .slide_selector:hover {
        background: rgba(145, 143, 143, 0.4)
    }
}

.slide_selector--left{
    position: absolute;
}

.slide_selector--right{
    position: absolute;
    right:0;
}

.carousel_nav{
    position: absolute;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel_indicator{
    border: none;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    background-color:rgba(145, 143, 143, 0.4);
    margin-inline: 10px;
    cursor: pointer;
}

.carousel_indicator:hover{
    width: 1.25vw;
    height: 1.25vw;
    background:rgba(145, 143, 143, 0.8);
}

.current_slide--indicator{
    background-color: rgba(255,255,255, .8);
}

@media only screen and (max-width: 768px) {
    .carousel_indicator {
        width: 3vw;
        height: 3vw;
        background-color: rgba(145, 143, 143, 0.8)
    }

    .carousel_indicator:hover {
        width: 3vw;
        height: 3vw;
        background: rgba(255, 255, 255, .8);
    }
    .current_slide--indicator {
        background-color: rgba(255, 255, 255, .8)
    }
}

.slide{
    position:absolute;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.splash{
    min-height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../Resources/Pictures/landing_background.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.tagline{
    position: absolute;
    width: fit-content;
    left: 65%;
    top: 70%;
    font-size: 3.25vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    
    .splash {
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../Resources/Pictures/mobile_splash.jpg);
        background-position: center;
        
    }

    .tagline {
        left: 30%;
        font-size: 7vw;
    }
}

#storm_one{
    width: 40%;
    background-image: url(../Resources/Pictures/storm_damage_resized.jpeg);
    background-position: center;
    background-size: cover;
    background-position: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2em;
}

.mobile_subheading {
    display: none;
}

#storm_two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}

#storm_three{
    width: 40%;
    background-image: url(./Resources/Pictures/storm_cleanup_crop_resized.jpeg);
    background-position: center;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2em;
}

@media only screen and (max-width: 768px) {
    #storm_two{
        display: none;
    }
    #storm_three {
        display: none;
    }
    #storm_one {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 6vw;
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(./Resources/Pictures/storm_damage_resized.jpeg);
        background-size: cover;
        background-position: center;
    }
    .mobile_subheading {
        display: block;
    }
}

#trim_one{
    width: 35%;
    background-image: url(../Resources/Pictures/tree_trim_before_resized.jpg);
    background-size: cover;
}

#trim_two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#trim_three{
    width: 35%;
    background-image: url(../Resources/Pictures/tree_trim_after_resized.jpg);
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    #trim_two {
        display: none;
    }
    #trim_three {
        display: none;
    }
    #trim_one {
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./Resources/Pictures/tree_trim_before_resized.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 6vw;
    }
}

#services_one{
    width: 40%;
    background-image: url(../Resources/Pictures/stump_grinder_resized.jpg);
    background-size: cover;
}

#services_two {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list_heading {
    font-size: 3vw;
}

.services li {
    font-size: 2vw;
    padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
    #services_one {
        display: none;
    }
    #services_two {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./Resources/Pictures/stump_grinder_resized.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .list_heading {
        font-size: 7vw;
    }

    .services li {
        font-size: 6vw;
    }
}

.business_card {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.business_info{
    list-style: none;
    color: rgb(197, 110, 70);
    font-size: 3.5vw;
    margin-block: auto;
    line-height: 1.5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (min-width: 1200px) {
    .business_info {
        font-size: 36px;
    }
}

.facebook_link {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

#logo {
    max-width: 250px;
    width: 35vw;
}